<div class="contact_us">
<h2><%=t("Contact us")%></h2>

<ul class="horizontal contact">
	<li><h3><%=t("sales") %></h3><a href="mailto:sales@chat-support.net">sales@chat-support.net</a></li>
	<li><h3><%=t("address")%></h3><span><%= t("Holleho 2, Zvolen, Slovakia") %></span></li>
	<li><h3><%=t("support") %></h3><a href="mailto:support@chat-support.net">support@chat-support.net</a></li>
	<li><h3><%=t("ico") %></h3><span>45662690</span></li>
</ul>

<div class="hr clear" ></div>
<div class="contact_now"><%=t("or contact us online now!")%></div>

<div class="scene">
	<div class="wrapper">
		<img class="person1" src="/images/web/contact/contact_luigi.jpg" alt="person1" />
		<img class="person2" src="/images/web/contact/contact_ivo.jpg" alt="person2" />
		<div class="buble buble1"><p><%=t(:contact_buble1) %></p></div>
		<div class="buble buble2"><p><%=t(:contact_buble2) %></p></div>
	</div>
</div>

</div>