<div class="home">

	<h2><%= t("Home") %></h2>
	
	<p>
	<%= t("home_text1") %> 
	</p>
	<p>
		<b>
			<%= t("home_We will provide everything your website needs to offer live chat support to your potential customers") %>:
		</b>
	</p>
	<ul>
	
	<li><%= t("chat support software + maintenance") %></li>
	<li><%= t("professionally trained operators chosen to your exact needs") %></li>
	<li><%= t("implementation of chat support client into your web") %></li>
	<li><%= t("24/7 access to all chat support conversations") %></li>
	</ul>
	<%= link_to t("All for unbeatable prices!"), pages_url(:price) %> 
	
	
	<div class="scene">
		<div class="wrapper">
			<img id="person" alt="person" src="/images/web/home/home_person.jpg" />
			<div class="buble" id="buble">
				<p><%=t("Increase web sales now")%>!</p>
			</div>
		</div>
	</div>

</div>