<div class="home">

	<h2><%= t("Home") %></h2>
	
        <div class="compare <%= @locale %>">
          <div class="top"></div>
          <table>
            <tr class="line0">
              <td class="text"><%= t("Find qualified operators")%></td>
              <td class="cross"></td>
              <td class="green"></td>
              <td class="right-col"></td>
            </tr>
            <tr class="line1">
              <td class="text"><%= t("Train operators, set-up and equip their department")%></td>
              <td></td>
              <td class="green"></td>
              <td></td>
            </tr>
            <tr class="line0">
              <td class="text"><%= t("Find and implement chat support software")%></td>
              <td></td>
              <td class="green"></td>
              <td></td>
            </tr>
            <tr class="line1">
              <td class="text"><%= t("Modify design according to needs of your web")%></td>
              <td></td>
              <td class="green"></td>
              <td></td>
            </tr>
            <tr class="line0">
              <td class="text"><%= t("Quality control & Maintenance")%></td>
              <td></td>
              <td class="green"></td>
              <td></td>
            </tr>
          </table>
          <div class="bottom"></div>
        </div>

        <p class="info"><%= t("For more info") %></p>
</div>