<div class="prices">
	
	<h2><%= t("Prices") %></h2>
	
	<div class="text_wrapper">
		<div class="prices_items">
                  <div class="top">
			<div class="price_items_wrapper">
                          <div class="price_item pi0">
                            <h3><img src="/images/web/prices/price_basic_title.png" alt="basic" /><em>Basic</em></h3>
                            <h4><em>450</em></h4>
                            <ul>
                              <li><%= t(:initial_operators_training)%> </li>
                              <li>40 <%= t(:hours_day)%></li>
                              <li>100 <%= t(:conversations_included)%> </li>
                              <li>+ 4 <%= t(:EUR_excluded_conversation)%> </li>
                              <li>1 <%= t(:operator_seat_for_your_staff) %></li>
                            </ul>
                          </div>

                          <div class="price_item pi1">
                            <h3><img src="/images/web/prices/price_optimal_title.png" alt="Optimal" /><em>Optimal</em></h3>
                            <h4><em>800 EUR</em></h4>
                            <ul>
                              <li><%= t(:initial_operators_training)%> </li>
                              <li>80 <%= t(:hours_day)%></li>
                              <li>200 <%= t(:conversations_included)%> </li>
                              <li>+ 3.5 <%= t(:EUR_excluded_conversation)%> </li>
                              <li>3 <%= t(:operator_seats_for_your_staff) %></li>
                            </ul>
                          </div>

                          <div class="price_item pi2">
                            <h3><img src="/images/web/prices/price_profesional_title.png" alt="Optimal" /><em>Profesional</em></h3>
                            <h4><em>1200 EUR</em></h4>
                            <ul>
                              <li><%= t(:initial_operators_training)%> </li>
                              <li>120 <%= t(:hours_day)%></li>
                              <li>300 <%= t(:conversations_included)%> </li>
                              <li>+ 3 <%= t(:EUR_excluded_conversation)%> </li>
                              <li>6 <%= t(:operator_seats5_for_your_staff) %></li>
                            </ul>
                          </div>
			</div>
                      
                    <div class="bottom">
                      <div class="price_item pi0"><button onclick="order('basic');"><%= t(:order_now)%></button></div>
                      <div class="price_item pi1"><button onclick="order('optimal');" class="green"><%= t(:order_now)%></button></div>
                      <div class="price_item pi2"><button onclick="order('profesional');"><%= t(:order_now)%></button></div>
                    </div>
                    </div>
		</div>

          <div class="notes">
            <div class="item right">
              <h3><%= t("Not enough options") %>?</h3>
              <p><%= t(:prices_notes_3) %></p>
            </div>

            <div class="item left">
              <div class="star"><img src="/images/web/prices/star.png" alt="*"/></div>
              <p><%= t(:prices_notes_1) %></p>
              
            </div>
            <div class="item left">
              <div class="star"><img src="/images/web/prices/star.png" alt="*"/><img src="/images/web/prices/star.png" alt="*"/></div>
              <p><%= t(:prices_notes_2) %></p>
              
            </div>

            
          </div>
		
		
          <div class="clear"></div>
        </div>
	
</div>