<h1>New price</h1>

<% form_for(@price) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', prices_path %>